<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <!-- 挂载点 -->
    <div id="app">
    </div>

    <template id="myApp">

        <div>
            <my-title></my-title>
            <input type="text" v-model="inputValue">
            <button @click="handelAddItem">增加佳丽</button>
            <ul>
                <my-list v-for="(item,index) of list" v-bind:index='index' v-bind:item='item' ></my-list>
                <!-- <li v-for="(index,item) of list"> [{{index}}]-{{item}}</li> -->
            </ul>
        </div>

    </template>
    
    <template id="title">
        <div>
            <h1>象牙山洗脚城</h1>
        </div>
    </template>
    <template id="list">
        <li>[{{index}}]-{{item}}</li>
    </template>
    <script>
        const app = Vue.createApp({
            template: '#myApp',
            data() {
                return {
                    list: ['7号技师', '小红', '刘英'],
                    inputValue: ''
                };
            },
            methods: {
                handelAddItem() {
                    if (this.inputValue) {
                        this.list.push(this.inputValue);
                    }
                    this.inputValue = '';
                } 
            },
        })

        app.component('my-title', {
            template: '#title',
        });
        app.component('my-list', {
            props: ['index', 'item'],
            template: '#list',
        })
        app.mount('#app');
    </script>
</body>

</html>