*{
    padding: 0;margin: 0;
}
.music__head {
    position:relative;
    height: 303px;
    overflow: auto;
}
.music__head .bg{
    width: 100%;
    height: 303px;
    background-image: url(https://img.zcool.cn/community/018d7a5d832755a8012060be2da4d4.jpg@3000w_1l_0o_100sh.jpg);
    background-size: 100% 100%;
    filter: blur(5px);
    position: absolute;
    z-index: -1;


}
.music__head-title {
    margin: 45px 0;
    color: #fff;
    padding: 0 40px;
   
}
.back{
    float: left;
    
}
.title{
   /* 控制非块级元素水平居中 */
    text-align: center;
    font-size: 12px;
}
.music__body{
    width: 100%;
    /* calc计算属性100vh屏幕高度 */
    height: calc(100vh - 130px);
    position: absolute;
    top: 130px;
    background-color: #fff;
    border-top-right-radius:32px;
    border-top-left-radius:32px;
}

.body-img{
    width: 257px;
    height: 283px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 40px;
    left: 50%;
    transform: translateX(-50%);
    top: -39px;
    /* x轴偏移量 y偏移量 往外扩散*/
    box-shadow: 0 0 10px #898989;
}
.body-img img{
    height:  100%;
    
}
.body-desc{
    margin-top: 280px;
    text-align: center;

}
.body-desc .name{
    font-size:21px ;
 font-family: Microsoft JhengHei UI Light ,黑体;
}
.body-desc .author{
 font:   bold 15px/42px Microsoft JhengHei UI Light ,黑体;
 line-height: 21px;
 color: #4f4f4f;
 
}